
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 29px;
}

.escola-imagem{
width: 17%;

}
.escola{
background-image: linear-gradient(#424E61,#b9b4b4);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 250px;


}

.escola-div-conteudo{
width: 32%;
font-size: 25px;

}

.escola-TituloTextoDestaque{
padding: 20px 0;
font-size: 49px;
}

body{
    body {
        font-family: 'Poppins', sans-serif;
    }
    
}
